<template>
  <b-col
    xs="12"
    md="4"
    xl="3"
    lg="6"
  >
    <!--  <button
      @click="loading = !loading"
    >
      click
    </button> -->
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-card
          no-body
          img-top
        >
          <b-skeleton-img
            card-img="top"
            aspect="3:1"
            animation="fade"
          />
          <b-card-body>
            <b-skeleton
              width="85%"
              animation="fade"
            />
            <b-skeleton
              width="55%"
              animation="fade"
            />
            <b-skeleton
              width="70%"
              animation="fade"
            />
          </b-card-body>
        </b-card>
      </template>
      <b-link :to="{ name: 'id-dashboard-modules', params: { id: module.codigoModulo }}">
        <b-card
          class="card-developer-meetup"
        >
          <div
            class="bg-light-primary rounded text-center mx-auto d-flex justify-content-center align-items-center"
            style="width: 90px; height: 90px;"
          >
            <b-img
              :src="module.rutaImagenAvatar"
              alt="Meeting Pic"
              height="70"
            />
          </div>
          <b-card-body>
            <div class="my-auto mx-auto text-center">
              <b-card-title class="mb-25">
                {{ module.nombreModulo }}
              </b-card-title>
              <b-card-text class="mb-0">
                {{ module.descripcionModulo }}
              </b-card-text>
            </div>
          </b-card-body>
        </b-card>
      </b-link>
    </b-skeleton-wrapper>
  </b-col>
</template>

<script>
import {
  BCard, BImg, BCardBody, BCardText, BCardTitle, /* BMedia, BMediaAside, BAvatar, BAvatarGroup, */ VBTooltip, /*  BMediaBody, BRow, */ BCol, BSkeleton, BSkeletonWrapper, BSkeletonImg, BLink,
} from 'bootstrap-vue'
import { ref } from '@vue/composition-api'

export default {
  components: {
    // BRow,
    BCol,
    BCard,
    BImg,
    BCardBody,
    BCardText,
    BCardTitle,
    // BMedia,
    // BMediaAside,
    // BAvatar,
    // BAvatarGroup,
    // BMediaBody,
    BLink,
    BSkeleton,
    BSkeletonWrapper,
    BSkeletonImg,
  },
  directives: {
    'b-tooltip': VBTooltip,
  },
  props: {
    module: {
      type: Object,
      required: true,
    },
    loading: {
      type: Boolean,
    },
  },
  data() {
    return {
    }
  },
}
</script>

<style>

</style>
