<template>
  <div>
    <div
      id="breadcrumb-alignment"
      class="mb-2"
    >
      <div class="d-flex justify-content-start breadcrumb-wrapper">
        <b-breadcrumb :items="items" />
      </div>
    </div>
    <b-row class="match-height">
      <card-module
        v-for="item in moduleInfo"
        :key="item.id"
        :module="item"
        :loading="loading"
      />
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import {
  BRow, BBreadcrumb,
} from 'bootstrap-vue'
import axios from '@axios'

export default {
  components: {
    BRow,
    BBreadcrumb,
    CardModule: () => import(/* webpackChunckName:'CardModule' */'./CardModule.vue'),
  },
  props: {
    id: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      moduleInfo: null,
      loading: true,
      items: [],
    }
  },
  watch: {
    id() {
      this.getModules()
    },
  },
  created() {
    this.getModules()
  },
  methods: {
    async getModules() {
      try {
        const { data } = await axios({
          method: 'GET',
          url: 'https://apigateway.adcapricornio.com:4443/v1/lvlexport/auth/accesosUsuario',
          // url: 'https://apigateway.adcapricornio.com:4443/v1/lvlexport/auth/accesosUsuario',
          headers: {
            Authorization: process.env.VUE_APP_TOKEN,
          },
          params: {
            idModulo: this.id,
            idMenu: 0,
          },
        })
        this.loading = false
        if (!data.esModulo) {
          this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', false)
          this.$store.commit('verticalMenu/SET_ITEM_MENU', data.data)
          this.$router.push({ name: data.data[0].children[0].route })
        }
        this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', true)
        this.moduleInfo = data.data
        this.items = data.navModulo
        return 'mensajeError'
      } catch (error) {
        return error.response.data
      }
    },
  },
}
</script>
