<template>
  <div>
    <modulos-principal
      :id="id"
    />
  </div>
</template>

<script>
import ModulosPrincipal from '@/views/dashboard/modules/ModulosPrincipal.vue'

export default {
  components: {
    ModulosPrincipal,
  },
  props: {
    id: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      menuHidden: this.$store.state.appConfig.layout.menu.hidden,
    }
  },
  created() {
    this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', true)
  },
  destroyed() {
    this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', true)
  },
}
</script>
