<template>
  <FormCrearPersona />
</template>

<script>
export default {
  components: {
    FormCrearPersona: () => import(/* webpackChunckName:'CardModule' */'@/modules/Personas/components/Forms/FormCrearPersona.vue'),
  },
}
</script>

<style>

</style>
