<template>

  <div>

    <user-list-add-new
      :is-add-new-user-sidebar-active.sync="isAddNewUserSidebarActive"
      :role-options="roleOptions"
      :plan-options="planOptions"
      @refetch-data="refetchData"
    />

    <!-- Filters -->
    <!-- <users-list-filters
      :role-filter.sync="roleFilter"
      :plan-filter.sync="planFilter"
      :status-filter.sync="statusFilter"
      :role-options="roleOptions"
      :plan-options="planOptions"
      :status-options="statusOptions"
    /> -->

    <b-modal
      id="modal-primary"
      v-b-modal.modal-prevent-closing
      size="xl"
      ok-title="Grabar"
      modal-class="modal-secondary"
      title="Agregar Cliente"
      cancel-variant="outline-secondary"
      :hide-footer="true"
      footer-class="p-2 border-top-0"
      no-close-on-backdrop
    >
      <FormCrearPersona />
    </b-modal>

    <!-- Table Container Card -->
    <b-card
      no-body
      class="mb-0"
    >

      <div class="m-2">

        <!-- Table Top -->
        <b-row>

          <!-- Per Page -->
          <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Mostrar</label>
            <v-select
              v-model="perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label>Registros</label>
          </b-col>

          <!-- Search -->
          <b-col
            cols="12"
            md="6"
          >
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input
                v-model="searchQuery"
                class="d-inline-block mr-1"
                placeholder="Buscar..."
              />
              <b-button
                v-b-modal.modal-primary
                variant="outline-primary"
                class="mr-1"
                @click="verModal"
              >
                <span class="text-nowrap">Nuevo Cliente</span>
              </b-button>
              <b-button
                variant="outline-primary"
                :disabled="isLoading"
                @click="refetchData"
              >
                <span class="text-nowrap">
                  <b-spinner
                    v-if="isLoading"
                    small
                  />
                  <feather-icon
                    v-else
                    icon="SearchIcon"
                    size="16"
                    class="align-text-top"
                  />
                </span>
              </b-button>
            </div>
          </b-col>
        </b-row>

      </div>
      <b-table
        ref="refUserListTable"
        class="position-relative"
        :items="fetchUsers"
        responsive
        :fields="tableColumns"
        primary-key="id"
        :sort-by.sync="sortBy"
        show-empty
        empty-text="No se encontraron registros"
        :sort-desc.sync="isSortDirDesc"
      >
        <!-- Column: User -->
        <template #cell(name)="data">
          <b-media vertical-align="center">
            <template #aside>
              <b-avatar
                size="32"
                :src="data.item.image"
                :text="avatarText(data.item.name)"
                :variant="`light-${resolveUserRoleVariant(data.item.estado)}`"
                :to="{ name: 'apps-users-view', params: { id: data.item.id } }"
              />
            </template>
            <b-link
              :to="{ name: 'detalles-usuario', params: { id: data.item.id } }"
              class="font-weight-bold d-block text-nowrap"
            >
              {{ data.item.name }}
            </b-link>
            <small class="text-muted">@{{ data.item.username }}</small>
          </b-media>
        </template>

        <!-- Column: Role -->
        <!-- <template #cell(TipoUsuario)="data">
          <div class="text-nowrap center">
            <feather-icon
              :icon="resolveUserRoleIcon(data.item.tipusuario)"
              size="18"
              class="mr-50"
              :class="`text-${resolveUserRoleVariant(data.item.tipusuario)}`"
            />
            <span class="align-text-top text-capitalize">{{ data.item.tipusuario }}</span>
          </div>
        </template> -->

        <!-- Column: Status -->
        <!-- <template #cell(estado)="data">
          <b-badge
            pill
            :variant="`light-${resolveUserStatusVariant(data.item.estado)}`"
            class="text-capitalize"
          >
            {{ mostrarTipoEstado(data.item.estado) }}
          </b-badge>
        </template> -->

        <!-- Column: Status -->
        <!-- <template #cell(edit)="data">
          <b-button
            v-ripple.400="'rgba(113, 102, 240, 0.15)'"
            v-b-modal.modal-primary
            variant="outline-primary"
            @click="verModal(data.item.codusuario)"
          >
            I
          </b-button>
        </template> -->

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown
            variant="link"
            no-caret
            :right="$store.state.appConfig.isRTL"
          >

            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>
            <b-dropdown-item
              style="position: relative; z-index: 10;"
              :to="{ name: 'detalles-usuario', params: { id: data.item.id } }">
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Detalles</span>
            </b-dropdown-item>

            <b-dropdown-item :to="{ name: 'editar-usuario', params: { id: data.item.id } }">
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Editar</span>
            </b-dropdown-item>

            <b-dropdown-item
              @click="eliminarUsuarios( data.item )"
            >
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Eliminar</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>

      </b-table>
      <div class="mx-2 mb-2">
        <b-row>

          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-start"
          >
            <span class="text-muted">Mostrando {{ dataMeta.from }} a {{ dataMeta.to }} de {{ dataMeta.of }} Registros</span>
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="d-flex align-items-center justify-content-center justify-content-sm-end"
          >

            <b-pagination
              v-model="currentPage"
              :total-rows="totalUsers"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon
                  icon="ChevronLeftIcon"
                  size="18"
                />
              </template>
              <template #next-text>
                <feather-icon
                  icon="ChevronRightIcon"
                  size="18"
                />
              </template>
            </b-pagination>

          </b-col>

        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard, BRow, BCol, BFormInput, BButton, BTable, BMedia, BAvatar, BLink,
  BBadge, BDropdown, BDropdownItem, BPagination, BModal, VBModal, BSpinner,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
// import store from '@/store'
import { ref } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'
import useUsersList from '@/modules/Personas/hooks/useListaPersonas'
// import { mapActions } from 'vuex'
import { avatarText } from '../helpers'
import UsersListFilters from './UsersListFilters.vue'
// // import userStoreModule from '../userStoreModule'
import UserListAddNew from './UserListAddNew.vue'

export default {
  components: {
    UsersListFilters,
    UserListAddNew,
    FormCrearPersona: () => import(/* webpackChunckName:'CardModule' */'@/modules/Personas/components/Forms/FormCrearPersona.vue'),
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    /* BBadge, */
    BSpinner,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
    BModal,
    // VBModal,
  },
  directives: {
    'b-modal': VBModal,
    Ripple,
  },
  data: () => ({
    codUsuario: null,
    nameState: null,
    submittedNames: [],
  }),
  created() {
    this.$store.commit('appConfig/UPDATE_NAV_MENU_HIDDEN', false)
  },
  methods: {
    verModal(id) {
      this.codUsuario = id
      console.log(this.codUsuario)
    },
    eliminarUsuarios(user) {
      console.log(user)
      this.$swal({
        // title: 'Eliminar Usuario',
        html: `<h4>¿Estas seguro que quieres eliminar a <br><strong>${user.name}</strong> ?</h4>`,
        icon: 'question',
        width: '400px',
        showCancelButton: true,
        confirmButtonText: 'Si, eliminar!',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-outline-secondary ml-1',
        },
        buttonsStyling: false,
      }).then(result => {
        if (result.value) {
          this.eliminarUsuario(user.id)
          this.$swal({
            icon: 'success',
            title: '¡Eliminado!',
            width: '400px',
            timer: 2600,
            html: `Se ha eliminado correctamente a <strong>${user.name}</strong>`,
            showConfirmButton: true,
            customClass: {
              confirmButton: 'btn btn-outline-success',
            },
          })
        }
      })
      /* this.$swal({
        title: 'Auto close alert!',
        html: 'I will close in <strong>3</strong> seconds.',
        timer: 3000,
        customClass: {
          confirmButton: 'btn btn-primary',
        },
        buttonsStyling: false,
      }) */
    },
  },
  setup() {
    const isAddNewUserSidebarActive = ref(false)

    const roleOptions = [
      { label: 'Admin', value: 'admin' },
      { label: 'Author', value: 'author' },
      { label: 'Editor', value: 'editor' },
      { label: 'Maintainer', value: 'maintainer' },
      { label: 'Subscriber', value: 'subscriber' },
    ]

    const planOptions = [
      { label: 'Basic', value: 'basic' },
      { label: 'Company', value: 'company' },
      { label: 'Enterprise', value: 'enterprise' },
      { label: 'Team', value: 'team' },
    ]

    const statusOptions = [
      { label: 'Pending', value: 'pending' },
      { label: 'Active', value: 'active' },
      { label: 'Inactive', value: 'inactive' },
    ]
    const {
      fetchUsers,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
      mostrarTipoEstado,
      eliminarUsuario,
      isLoading,
    } = useUsersList()

    // const search = () => {
    //   console.log(isLoading.value)
    //   isLoading.value = true
    //   console.log(isLoading.value)

    //   refetchData()
    //   isLoading.value = false
    //   console.log(isLoading.value)
    // }
    return {
      // Sidebar
      isAddNewUserSidebarActive,

      fetchUsers,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      // Filter
      avatarText,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      roleOptions,
      planOptions,
      statusOptions,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
      mostrarTipoEstado,
      eliminarUsuario,

      isLoading,
      // search,
    }
  },
}
</script>

<style scoped>
/* .per-page-selector {
  width: 90px;
}

td.b-table-sticky-column {
    background-color: inherit;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f0f1!important;
}

.table-striped tbody tr{
  background-color: #ffffff!important;
} */
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-wizard.scss';
@import '@core/scss/vue/libs/vue-select.scss';
</style>
