<template>
  <component :is="userData === undefined ? 'div' : 'b-card'">

    <!-- Alert: No item found -->
    <b-alert
      variant="danger"
      :show="userData === undefined"
    >
      <h4 class="alert-heading">
        Error fetching user data
      </h4>
      <div class="alert-body">
        No user found with this user id. Check
        <b-link
          class="alert-link"
          :to="{ name: 'apps-users-list'}"
        >
          User List
        </b-link>
        for other users.
      </div>
    </b-alert>
    <!-- <b-card
      v-if="!userData"
    >
      <h1>Loaging...</h1>
    </b-card> -->

    <b-tabs
      :pills="false"
    >
      <!-- Tab: Account -->
      <b-tab active>
        <template #title>
          <feather-icon
            icon="UserIcon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Cuenta</span>
        </template>
        <b-overlay
          id="overlay-background"
          :show="!userData || loading"
          :variant="settingOverlay.variant"
          :opacity="settingOverlay.opacity"
          :blur="settingOverlay.blur"
          rounded="sm"
        >
          <div
            v-if="!userData"
            style="height: 150px;"
          />
          <user-edit-tab-account
            :user-data="userData"
            class="mt-2 pt-75"
          />
        </b-overlay>
      </b-tab>

      <!-- Tab: Information -->
      <b-tab>
        <template #title>
          <feather-icon
            icon="InfoIcon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Information Personal</span>
        </template>
        <b-overlay
          id="overlay-background"
          :show="!userData"
          :variant="settingOverlay.variant"
          :opacity="settingOverlay.opacity"
          :blur="settingOverlay.blur"
          rounded="sm"
        >
          <div
            v-if="!userData"
            style="height: 150px;"
          />
          <user-edit-tab-information
            :user-data="userData"
            class="mt-2 pt-75"
          />
        </b-overlay>
      </b-tab>

      <!-- Tab: Social -->
      <b-tab>
        <template #title>
          <feather-icon
            icon="Share2Icon"
            size="16"
            class="mr-0 mr-sm-50"
          />
          <span class="d-none d-sm-inline">Contacto</span>
        </template>
        <b-overlay
          id="overlay-background"
          :show="!userData"
          :variant="settingOverlay.variant"
          :opacity="settingOverlay.opacity"
          :blur="settingOverlay.blur"
          rounded="sm"
        >
          <div
            v-if="!userData"
            style="height: 150px;"
          />
          <user-edit-tab-social class="mt-2 pt-75" />
        </b-overlay>
      </b-tab>

      <!-- <b-button
        variant="primary"
        class="mb-1 mb-sm-0 mr-0 mr-sm-1"
        :block="$store.getters['app/currentBreakPoint'] === 'xs'"
        @click="actualizarDatosCuenta"
      >
        Guardar Cambios
      </b-button>
      <b-button
        variant="outline-secondary"
        type="reset"
        :block="$store.getters['app/currentBreakPoint'] === 'xs'"
      >
        Cancelar
      </b-button> -->

      <!-- <b-col class="mt-2"> -->
      <b-button
        variant="primary"
        class="mb-1 mb-sm-0 mr-0 mr-sm-1 mt-2"
        :block="$store.getters['app/currentBreakPoint'] === 'xs'"
        :disabled="loading"
        @click="actualizarDatosCuenta"
      >

        <span class="text-nowrap">
          <b-spinner
            v-if="loading"
            small
          />
          <feather-icon
            v-else
            icon="SaveIcon"
            size="16"
            class="align-text-top"
          />
          Guardar
        </span>
      </b-button>
      <b-button
        variant="outline-secondary"
        :class="($store.getters['app/currentBreakPoint'] !== 'xs') ? 'mt-2' : ''"
        :block="$store.getters['app/currentBreakPoint'] === 'xs'"
        :to="{name:'lista-personas'}"
      >
        <span class="text-nowrap">
          <feather-icon
            icon="ArrowLeftIcon"
            size="16"
            class="align-text-top"
          />
          Regresar
        </span>
      </b-button>
      <!-- </b-col> -->
    </b-tabs>
  </component>
</template>

<script>

import BCardActions from '@core/components/b-card-actions/BCardActions.vue'
// import { ref } from 'vue'
import {
  BTab, BTabs, BCard, BAlert, BLink, BCardText, BRow, BCol, BTable, BOverlay, BButton, BSpinner,
} from 'bootstrap-vue'
// import { ref } from '@vue/composition-api'
// import Swal from 'sweetalert2'
// import store from '@/store'
import Ripple from 'vue-ripple-directive'
// import { onBeforeRouteLeave } from 'vue-router'
import usePersonas from '@/modules/Personas/hooks/usePersonas'
import { ref } from '@vue/composition-api'
import store from '@/store'

export default {
  components: {
    BCardActions,
    BTab,
    BTabs,
    BCard,
    BAlert,
    BLink,
    BCardText,
    BRow,
    BCol,
    BTable,
    BOverlay,
    BButton,
    BSpinner,
    UserEditTabAccount: () => import('@/modules/Personas/components/UserEditTabAccount.vue'),
    UserEditTabInformation: () => import('@/modules/Personas/components/UserEditTabInformation.vue'),
    UserEditTabSocial: () => import('@/modules/Personas/components/UserEditTabSocial.vue'),
  },
  directives: {
    Ripple,
  },
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const loading = ref(false)
    const { getUser, userData } = usePersonas()
    getUser(props.id)

    const settingOverlay = ref({
      variant: 'light',
      opacity: 0.80,
      blur: '2px',
      variants: ['white', 'light', 'dark', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'transparent'],
      blurs: [{ text: 'None', value: '' }, '1px', '2px', '5px', '0.5em', '1rem'],
    })

    /* onBeforeRouteLeave(() => {
      // eslint-disable-next-line no-alert
      const answer = window.confirm('¿Está seguro que desea salir?')
      if (!answer) return false
    }) */

    const actualizarDatosCuenta = async () => {
      // console.log(userData.value)
      loading.value = true
      const data = userData.value
      delete data.createAt
      delete data.updateAt
      store.dispatch('PersonasStore/updateUser', data)
        .then(() => {
          console.log('todo Correcto')
          getUser(props.id)
          loading.value = false
        })
    }

    return {
      userData,
      getUser,
      settingOverlay,
      actualizarDatosCuenta,
      loading,
    }
  },
}
</script>

<style>

</style>
