<template>
  <div>

    <!-- Alert: No item found -->
    <b-alert
      variant="danger"
      :show="userData === undefined"
    >
      <h4 class="alert-heading">
        Error fetching user data
      </h4>
      <div class="alert-body">
        No user found with this user id. Check
        <b-link
          class="alert-link"
          :to="{ name: 'apps-users-list'}"
        >
          User List
        </b-link>
        for other users.
      </div>
    </b-alert>

    <template>
      <!-- <button
        @click=" userData = !userData"
      >
        reload
      </button> -->
      <!-- First Row -->
      <b-row>
        <b-col
          cols="12"
          xl="12"
          lg="12"
          md="12"
        >
          <b-skeleton-wrapper :loading="!userData">
            <template #loading>
              <b-card
                img-top
              >
                <b-row>
                  <b-col
                    cols="21"
                    xl="6"
                    class="d-flex justify-content-between flex-column"
                  >
                    <div class="d-flex justify-content-start">
                      <!-- {{ userData }} -->
                      <b-skeleton
                        size="104px"
                        rounded
                      />
                      <div class="d-flex flex-column ml-1">
                        <div class="mb-0">
                          <h4 class="mb-0">
                            <b-skeleton
                              width="90%"
                              animation="fade"
                            />
                          </h4>
                          <span class="card-text">
                            <b-skeleton
                              width="70%"
                              animation="fade"
                            />
                          </span>
                        </div>
                        <div class="d-flex flex-wrap">
                          <b-skeleton
                            type="button"
                            class="mr-1"
                          />
                          <b-skeleton
                            type="button"
                          />
                        </div>
                      </div>
                    </div>
                  <!-- <b-card-body>
                  <b-row>
                    <b-col
                      xl="1"
                      lg="2"
                      md="2"
                    >
                      <b-skeleton
                        size="104px"
                        rounded
                      />
                    </b-col>
                    <b-col
                      xl="11"
                      lg="2"
                      md="2"
                    >
                      <b-skeleton
                        width="50%"
                        animation="fade"
                      />
                    </b-col>
                  </b-row>
                  <b-skeleton
                    width="85%"
                    animation="fade"
                  />
                  <b-skeleton
                    width="55%"
                    animation="fade"
                  />
                  <b-skeleton
                    width="70%"
                    animation="fade"
                  />
                </b-card-body> -->
                  </b-col>
                </b-row>
              </b-card>
            </template>

            <user-view-user-info-card :user-data="userData" />
          </b-skeleton-wrapper>
        </b-col>
        <!-- <b-col
          v-if="false"
          cols="12"
          md="5"
          xl="3"
          lg="4"
        >
          <user-view-user-plan-card />
        </b-col> -->
      </b-row>
      <b-row v-if="true">
        <b-col
          cols="12"
          lg="12"
        >
          <!-- @click="generarPdf" -->
          <b-button
            variant="primary"
            @click="download"
          >
            generar
          </b-button>
          <b-card>
            <!-- src="https://docs.google.com/gview?url=http://writing.engr.psu.edu/workbooks/formal_report_template.doc&embedded=true" -->
            <!-- src="https://view.officeapps.live.com/op/embed.aspx?src=http://writing.engr.psu.edu/workbooks/formal_report_template.doc&embedded=true" -->
            <!-- src="https://view.officeapps.live.com/op/embed.aspx?src=https://intranet.adcapricornio.com/plantillas/plantillaAdicionar.xlsx&embedded=true" -->
            <b-embed
              type="iframe"
              aspect="16by9"
              src="https://dev-api.adcapricornio.com/v2/uploads/34903623.pdf"
              allowfullscreen
            />
            <!-- <iframe
              :src="pdfRef"
              width="100%"
              height="660px"
            /> -->
          </b-card>
        </b-col>
      </b-row>
      <!--  <b-row v-if="true">
        <b-col
          cols="12"
          lg="6"
        >
          <user-view-user-timeline-card />
        </b-col>
        <b-col
          cols="12"
          lg="6"
        >
          <user-view-user-permissions-card />
        </b-col>
      </b-row> -->
      <b-row
        v-if="true"
        class="invoice-preview"
      >

        <!-- Col: Left (Invoice Container) -->

      </b-row>
      <!-- <Invoice /> -->
      <!-- <invoice-list v-if="false" /> -->
    </template>
  </div>
</template>

<script>
// import store from '@/store'
// import router from '@/router'
// import { ref, onUnmounted } from '@vue/composition-api'
import {
  BRow, BCol, BAlert, BLink, BOverlay, BCard, BButton, BCardBody, BTableLite, BCardText, VBToggle, BEmbed, BSkeleton, BSkeletonWrapper, BSkeletonImg,
} from 'bootstrap-vue'
// import InvoiceList from '@/views/apps/invoice/invoice-list/InvoiceList.vue'
import usePersonas from '@/modules/Personas/hooks/usePersonas'
import { onMounted, ref } from '@vue/composition-api'

// import invoiceStoreModule from '../invoiceStoreModule'
import Logo from '@core/layouts/components/Logo.vue'
import axios from '@axios'

// import InvoiceSidebarSendInvoice from '@/modules/personas/components/InvoiceSidebarSendInvoice.vue'
// import InvoiceSidebarAddPayment from '@/modules/personas/components/InvoiceSidebarAddPayment.vue'

// import { jsPDF } from 'jspdf'

// import html2canvas from 'html2canvas'
// import Invoice from '../components/Invoice.vue'

export default {
  components: {
    BRow,
    BCol,
    BAlert,
    BLink,
    BOverlay,
    BCard,
    BButton,
    BCardBody,
    BTableLite,
    BCardText,
    BEmbed,
    /* VBToggle, */
    Logo,
    // Invoice,
    BSkeleton,
    BSkeletonWrapper,
    BSkeletonImg,
    // InvoiceSidebarAddPayment,
    // InvoiceSidebarSendInvoice,
    // Local Components
    UserViewUserInfoCard: () => import('@/modules/Personas/components/detailsComponents/UserViewUserInfoCard.vue'),
    // UserViewUserPlanCard: () => import('@/modules/personas/components/detailsComponents/UserViewUserPlanCard.vue'),
    // UserViewUserTimelineCard: () => import('@/modules/personas/components/detailsComponents/UserViewUserTimelineCard.vue'),
    // UserViewUserPermissionsCard: () => import('@/modules/personas/components/detailsComponents/UserViewUserPermissionsCard.vue'),
    // InvoiceList,
  },
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    // console.log(Invoice)
    console.log(props)
    const pdfRef = ref(null)
    const plan = ref(null)

    const { getUser, userData } = usePersonas()
    getUser(props.id)

    const settingOverlay = ref({
      variant: 'light',
      opacity: 0.80,
      blur: '2px',
      variants: ['white', 'light', 'dark', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'transparent'],
      blurs: [{ text: 'None', value: '' }, '1px', '2px', '5px', '0.5em', '1rem'],
    })

    const invoiceData = ref(null)
    const paymentDetails = ref({})

    // Invoice Description
    // ? Your real data will contain this information
    const invoiceDescription = [
      {
        taskTitle: 'Native App Development',
        taskDescription: 'Developed a full stack native app using React Native, Bootstrap & Python',
        rate: '$60.00',
        hours: '30',
        total: '$1,800.00',
      },
      {
        taskTitle: 'UI Kit Design',
        taskDescription: 'Designed a UI kit for native app using Sketch, Figma & Adobe XD',
        rate: '$60.00',
        hours: '20',
        total: '$1200.00',
      },
    ]

    // onMounted(() => {
    //   console.log(plan.value)
    // })

    const generarPdf = () => {
      const doc = new jsPDF('p', 'pt', 'a4')
      const scale = (doc.internal.pageSize.width - 10 * 2) / document.body.scrollWidth

      const html = `
        <div class="invoice-box" style="width:100vw;">
          <table cellpadding="0" cellspacing="0">
            <tr class="top">
              <td colspan="2">
                <table>
                  <tr>
                    <td class="title">
                      <img
                        src="${require('@/assets/images/logo/logo.png')}"
                        style="width: 45%; max-width: 300px"
                      />
                    </td>

                    <td>
                      Invoice #: 123<br />
                      Created: January 1, 2015<br />
                      Due: February 1, 2015
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class="information">
              <td colspan="2">
                <table>
                  <tr>
                    <td>
                      Sparksuite, Inc.<br />
                      12345 Sunny Road<br />
                      Sunnyville, CA 12345
                    </td>

                    <td>
                      Acme Corp.<br />
                      John Doe<br />
                      john@example.com
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr class="heading">
              <td>Payment Method</td>

              <td>Check #</td>
            </tr>

            <tr class="details">
              <td>Check</td>

              <td>1000</td>
            </tr>

            <tr class="heading">
              <td>Item</td>

              <td>Price</td>
            </tr>

            <tr class="item">
              <td>Website design</td>

              <td>$300.00</td>
            </tr>

            <tr class="item">
              <td>Hosting (3 months)</td>

              <td>$75.00</td>
            </tr>

            <tr class="item last">
              <td>Domain name (1 year)</td>

              <td>$10.00</td>
            </tr>

            <tr class="total">
              <td></td>

              <td>Total: $385.00</td>
            </tr>
          </table>
        </div>

      <style scoped>
      .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        /* border: 1px solid #eee; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 24px;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        color: #555;
      }

      .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
      }

      .invoice-box table td {
        padding: 5px;
        vertical-align: top;
      }

      .invoice-box table tr td:nth-child(2) {
        text-align: right;
      }

      .invoice-box table tr.top table td {
        padding-bottom: 20px;
      }

      .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
      }

      .invoice-box table tr.information table td {
        padding-bottom: 40px;
      }

      .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
      }

      .invoice-box table tr.details td {
        padding-bottom: 20px;
      }

      .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
      }

      .invoice-box table tr.item.last td {
        border-bottom: none;
      }

      .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
      }

      @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
          width: 100%;
          display: block;
          text-align: center;
        }

        .invoice-box table tr.information table td {
          width: 100%;
          display: block;
          text-align: center;
        }
      }

      /** RTL **/
      .invoice-box.rtl {
        direction: rtl;
        font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
          sans-serif;
      }

      .invoice-box.rtl table {
        text-align: right;
      }

      .invoice-box.rtl table tr td:nth-child(2) {
        text-align: left;
      }
      </style>
      `

      const html1 = `
              <style>
                  body {
  background: #eee;
  /* font-size:0.9em !important; */
}

.invoice {
  width: 970px !important;
  margin: 50px auto;
}
.invoice .invoice-header {
  padding: 25px 25px 15px;
}
.invoice .invoice-header h1 {
  margin: 0;
}
.invoice .invoice-header .media .media-body {
  font-size: 0.9em;
  margin: 0;
}
.invoice .invoice-body {
  border-radius: 10px;
  padding: 25px;
  background: #fff;
}
.invoice .invoice-footer {
  padding: 15px;
  font-size: 0.9em;
  text-align: center;
  color: #999;
}

.logo {
  max-height: 70px;
  border-radius: 10px;
}

.dl-horizontal {
  margin: 0;
}
.dl-horizontal dt {
  float: left;
  width: 80px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 90px;
}

.rowamount {
  padding-top: 15px !important;
}

.rowtotal {
  font-size: 1.3em;
}

.colfix {
  width: 12%;
}

.mono {
  font-family: monospace;
}
                </style>

                <div class="container invoice" style="width:100vw;">
                  <div class="invoice-header" style="width:100vw;">
                    <div class="row">
                      <div class="col-xs-8">
                        <h1>Invoice <small>With Credit</small></h1>
                        <h4 class="text-muted">NO: 554775/R1 | Date: 01/01/2015</h4>
                      </div>
                      <div class="col-xs-4">
                        <div class="media">
                          <div class="media-left">
                            <img class="media-object logo" src="https://dummyimage.com/70x70/000/fff&text=ACME" />
                          </div>
                          <ul class="media-body list-unstyled">
                            <li><strong>Acme Corporation</strong></li>
                            <li>Software Development</li>
                            <li>Field 3, Moon</li>
                            <li>info@acme.com</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="invoice-body">
                    <div class="row">
                      <div class="col-xs-5">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Company Details</h3>
                          </div>
                          <div class="panel-body">
                            <dl class="dl-horizontal">
                              <dt>Name</dt>
                              <dd><strong>Acme Corporation</strong></dd>
                              <dt>Industry</dt>
                              <dd>Software Development</dd>
                              <dt>Address</dt>
                              <dd>Field 3, Moon</dd>
                              <dt>Phone</dt>
                              <dd>123.4456.4567</dd>
                              <dt>Email</dt>
                              <dd>mainl@acme.com</dd>
                              <dt>Tax NO</dt>
                              <dd class="mono">123456789</dd>
                              <dt>Tax Office</dt>
                              <dd>A' Moon</dd>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-7">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Customer Details</h3>
                          </div>
                          <div class="panel-body">
                            <dl class="dl-horizontal">
                              <dt>Name</dt>
                              <dd>Microsoft Corporation</dd>
                              <dt>Industry</dt>
                              <dd>Software Development</dd>
                              <dt>Address</dt>
                              <dd>One Microsoft Way Redmond, WA 98052-7329, USA</dd>
                              <dt>Phone</dt>
                              <dd>(425) 882-8080</dd>
                              <dt>Email</dt>
                              <dd>contact@microsoft.com</dd>
                              <dt>Tax NO</dt>
                              <dd class="mono">123456789</dd>
                              <dt>&nbsp;</dt>
                              <dd>&nbsp;</dd>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Services / Products</h3>
                      </div>
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th>Item / Details</th>
                            <th class="text-center colfix">Unit Cost</th>
                            <th class="text-center colfix">Sum Cost</th>
                            <th class="text-center colfix">Discount</th>
                            <th class="text-center colfix">Tax</th>
                            <th class="text-center colfix">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Lorem Ipsum Dolor
                              <br>
                              <small class="text-muted">The best lorem in town, try it now or leave forever</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">$1,000.00</span>
                              <br>
                              <small class="text-muted">Before Tax</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">$18,000.00</span>
                              <br>
                              <small class="text-muted">18 Units</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">- $1,800.00</span>
                              <br>
                              <small class="text-muted">Special -10%</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">+ $3,240.00</span>
                              <br>
                              <small class="text-muted">VAT 20%</small>
                            </td>
                            <td class="text-right">
                              <strong class="mono">$19,440.00</strong>
                              <br>
                              <small class="text-muted mono">$16,200.00</small>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Sit Amet Dolo
                              <br>
                              <small class="text-muted">Now you may sit</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">$120.00</span>
                              <br>
                              <small class="text-muted">Before Tax</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">$240.00</span>
                              <br>
                              <small class="text-muted">2 Units</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">- $0.00</span>
                              <br>
                              <small class="text-muted">-</small>
                            </td>
                            <td class="text-right">
                              <span class="mono">+ $72.00</span>
                              <br>
                              <small class="text-muted">VAT:20% S:10%</small>
                            </td>
                            <td class="text-right">
                              <strong class="mono">$312.00</strong>
                              <br>
                              <small class="text-muted mono">$240.00</small>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="panel panel-default">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <td class="text-center col-xs-1">Sub Total</td>
                            <td class="text-center col-xs-1">Discount</td>
                            <td class="text-center col-xs-1">Total</td>
                            <td class="text-center col-xs-1">Tax</td>
                            <td class="text-center col-xs-1">Final</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th class="text-center rowtotal mono">$18,240.00</th>
                            <th class="text-center rowtotal mono">-$1,800.00</th>
                            <th class="text-center rowtotal mono">$16,440.00</th>
                            <th class="text-center rowtotal mono">$3,312.00</th>
                            <th class="text-center rowtotal mono">$19,752.00</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-xs-7">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <i>Comments / Notes</i>
                            <hr style="margin:3px 0 5px" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit repudiandae numquam sit facere blanditiis, quasi distinctio ipsam? Libero odit ex expedita, facere sunt, possimus consectetur dolore, nobis iure amet vero.
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-5">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Payment Method</h3>
                          </div>
                          <div class="panel-body">
                            <p>For your convenience, you may deposite the final ammount at one of our banks</p>
                            <ul class="list-unstyled">
                              <li>Alpha Bank - <span class="mono">MO123456789456123</span></li>
                              <li>Beta Bank - <span class="mono">MO123456789456123</span></li>
                              <li>Gamma Bank - <span class="mono">MO123456789456123</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="invoice-footer">
                    Thank you for choosing our services.
                    <br/> We hope to see you again soon
                    <br/>
                    <strong>~ACME~</strong>
                  </div>
                </div>
      `
      // doc.addHTML("Hello world!", 10, 10)

      const html2 = `
        
        <div style="width:100vw">
          <div class="title">
            <h2 style="text-decoration-style: solid;">Lorem ipsum dolor sit.</h2>
          </div>
          <div class="info">
            <div style="margin:auto; width:90%; ">
              <p style="line-height:50px;">
                Employment ContractThis ​ E mployment Contract (hereinafter referred to as the “Agreement”) is entered into as of <span style="border-bottom:0.2px solid #000">${userData.value.name} </span>  by and between __________________________, with a mailingaddress of ________________________________________________________________________________________________ (hereinafter referred to as the “Employer”) and__________________________, with a mailing address of ____________________________________________________________ (hereinafter referred to as the “Employee”),collectively referred to as the “Parties,” both of whom agree to be bound by thisAgreement.Background:a. The Employer is of the opinion that the Employee has the necessary qualifications,experience and abilities to assist and benefit the Employer in their business.b. The Employer desires to employ the Employee and the Employee has agreed toaccept and enter such employment upon the terms and conditions set out in thisAgreement.IN CONSIDERATION OF the matters described above and of the mutual benefitsand obligations set forth in this Agreement, the receipt and sufficiency of whichconsideration is hereby acknowledged, the Parties agree as follows:1. Commencement Date and Term. ​ T he Employee will commence permanent full-timeemployment with the Employer on _______________.2. Job Title and Description.​ The initial job title of the Employee will be the following:_______________________________________________________________________The Employee agrees to be employed on the terms and conditions set out in thisAgreement. The Employee agrees to be subject to the general supervision of and actpursuant to the orders, advice and direction of the Employer.The Employee will perform any and all duties as requested by the Employer that arereasonable and that are customarily performed by a person holding a similar position inthe industry or business of the Employer.
              </p>
            </div>
          </div>
        </div>
        <style>
          .title{
            text-align: center;
            height: 50px;
          }
        </style>
      `
      doc.html(html2, {
        x: 10,
        y: 10,

        html2canvas: {
          // scale: 0.74,
          scale: 0.4,
        },
        callback(doc) {
          pdfRef.value = doc.output('bloburl')
          // doc.save('test.pdf')
        },
      })

      /* html2canvas(document.body, {
        onrendered(canvas) {
          // var img=canvas.toDataURL("image/png");
          const doc = new jsPDF()
          // doc.addImage(img,'JPEG',20,20);
          doc.html(html)
          doc.save('test.pdf')
        },
      }) */

      // pdfRef.value = doc.output('bloburl')
    }

    const download = () => {
      axios({
        url: 'https://source.unsplash.com/random/500x500',
        method: 'GET',
        responseType: 'blob',
      })
        .then(response => {
          const url = window.URL
            .createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'image.png')
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        })
    }

    return {
      userData,
      settingOverlay,
      generarPdf,
      pdfRef,
      plan,
      invoiceData,
      paymentDetails,
      invoiceDescription,
      download,
    }
  },
}
</script>
<style lang="scss" scoped>
@import "~@core/scss/base/pages/app-invoice.scss";
</style>

<style lang="scss">
@media print {

  // Global Styles
  body {
    background-color: transparent !important;
  }
  nav.header-navbar {
    display: none;
  }
  .main-menu {
    display: none;
  }
  .header-navbar-shadow {
    display: none !important;
  }
  .content.app-content {
    margin-left: 0;
    padding-top: 2rem !important;
  }
  footer.footer {
    display: none;
  }
  .card {
    background-color: transparent;
    box-shadow: none;
  }
  .customizer-toggle {
    display: none !important;
  }

  // Invoice Specific Styles
  .invoice-preview-wrapper {
    .row.invoice-preview {
      .col-md-8 {
        max-width: 100%;
        flex-grow: 1;
      }

      .invoice-preview-card {
        .card-body:nth-of-type(2) {
          .row {
              > .col-12 {
              max-width: 50% !important;
            }

            .col-12:nth-child(2) {
              display: flex;
              align-items: flex-start;
              justify-content: flex-end;
              margin-top: 0 !important;
            }
          }
        }
      }
    }

    // Action Right Col
    .invoice-actions {
      display: none;
    }
  }
}
</style>
