<template>
  <!-- <div> -->

  <form-wizard
    ref="formulario1"
    color="#2179dd"
    :title="null"
    :subtitle="null"
    layout="horizontal"
    finish-button-text="Grabar"
    next-button-text="Siguiente"
    back-button-text="Anterior"
    class="wizard-vertical"
    @on-complete="formSubmitted"
  >

    <tab-content
      title="Informacion del Cliente"
      :before-change="validationForm"
    >
      <validation-observer
        ref="accountRules"
        tag="form"
        locale="es"
      >
        <b-tabs class="mb-2">
          <b-tab
            title="Datos Principales"
            active
          >
            <b-row>
              <!--  <b-col
                cols="12"
                class="mb-2"
              >
                <h5 class="mb-0">
                  Account Details
                </h5>
                <small class="text-muted">
                  Enter Your Account Details.
                </small>
              </b-col> -->

              <!-- Razon Social -->
              <b-col md="6">
                <b-form-group
                  label="Razon Social"
                  label-for="vch_razonSocial"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_razonSocial"
                    rules=""
                  >

                    <b-form-input
                      id="vch_razonSocial"
                      v-model="data.razonSocial"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Alias -->
              <b-col md="6">
                <b-form-group
                  label="Alias"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.alias"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Pais Emision Documento -->
              <b-col md="4">
                <validation-provider
                  #default="{ errors }"
                  name="Country"
                  rules=""
                >
                  <b-form-group
                    label="Pais Emision Documento"
                    label-for="int_actividadEmpresa"
                    :state="errors.length > 0 ? false:null"
                  >
                    <v-select
                      id="int_actividadEmpresa"
                      v-model="data.codigoPaisEmisorDocumento"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="paisEmisorDocumento"
                      :selectable="option => ! option.value == 0"
                      :reduce="option => option.value"
                      label="text"
                    />
                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!-- end -->

              <!-- Tipo Documento -->
              <b-col md="4">
                <validation-provider
                  #default="{ errors }"
                  name="Country"
                  rules=""
                >
                  <b-form-group
                    label="Tipo Documento"
                    label-for="int_actividadEmpresa"
                    :state="errors.length > 0 ? false:null"
                  >
                    <v-select
                      id="int_actividadEmpresa"
                      v-model="data.codigoTipoDocumento"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="tipoDocumento"
                      :selectable="option => ! option.value == 0"
                      :reduce="option => option.value"
                      label="text"
                    />
                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!-- end -->

              <!-- Numero Documento -->
              <b-col md="4">
                <b-form-group
                  label="Numero Documento"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.numeroDocumento"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Apellido Paterno -->
              <b-col md="4">
                <b-form-group
                  label="Apellido Paterno"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.apellidoPaterno"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Apellido Materno -->
              <b-col md="4">
                <b-form-group
                  label="Apellido Materno"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.apellidoMaterno"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Nombres -->
              <b-col md="4">
                <b-form-group
                  label="Nombres"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.nombres"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Situacion -->
              <!-- <b-col md="2">
                <div class="demo-inline-spacing mb-2">
                  <b-form-checkbox
                    v-model="data.situacion"
                    checked="false"
                    name="check-button"
                    switch
                    inline
                  >
                    Situacion
                  </b-form-checkbox>
                </div>
              </b-col> -->
              <!-- End -->

              <!-- Sexo -->
              <!-- <b-col md="4">
                <validation-provider
                  #default="{ errors }"
                  name="Country"
                  rules=""
                >
                  <b-form-group
                    label="Sexo"
                    label-for="int_actividadEmpresa"
                    :state="errors.length > 0 ? false:null"
                  >
                    <v-select
                      id="int_actividadEmpresa"
                      v-model="selectedContry"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="combo"
                      :selectable="option => ! option.value == 0"
                      :reduce="option => option.value"
                      label="text"
                    />
                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col> -->
              <!-- End -->

              <!-- Fecha Inscripcion -->
              <b-col md="6">
                <b-form-group
                  label="Fecha Inscripcion"
                  label-for="vch_fecha"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_fecha"
                    rules=""
                  >
                    <b-input-group class="mb-1">
                      <b-form-input
                        id="vch_fecha"
                        v-model="data.fechaInscripcionNacimiento"
                        type="text"
                        placeholder="YYYY-MM-DD"
                        autocomplete="off"
                        show-decade-nav
                        :state="errors.length > 0 ? false:null"
                      />
                      <b-input-group-append>
                        <b-form-datepicker
                          v-model="data.fechaInscripcionNacimiento"
                          show-decade-nav
                          button-only
                          button-variant="outline-secondary"
                          right
                          size="sm"
                          locale="es"
                          aria-controls="vch_fecha"
                          @context="onContext"
                        />
                      </b-input-group-append>
                    </b-input-group>

                    <small class="text-danger">{{ errors[0] ? 'La Fecha es Obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Actividad de la empresa -->
              <b-col md="6">
                <validation-provider
                  #default="{ errors }"
                  name="Country"
                  rules=""
                >
                  <b-form-group
                    label="Actividad de la Empresa"
                    label-for="int_actividadEmpresa"
                    :state="errors.length > 0 ? false:null"
                  >
                    <v-select
                      id="int_actividadEmpresa"
                      v-model="data.codigoActividadEmpresa"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="actividadEmpresa"
                      :selectable="option => ! option.value == 0"
                      :reduce="option => option.value"
                      label="text"
                      placeholder="SELECCIONE"
                    />
                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!-- end -->

            </b-row>
          </b-tab>
          <b-tab
            title="Informacion Secundaria"
          >
            <b-row>
              <!-- Codigo Pais -->
              <b-col md="12">
                <validation-provider
                  #default="{ errors }"
                  name="Country"
                  rules=""
                >
                  <b-form-group
                    label="Codigo Pais"
                    label-for="int_actividadEmpresa"
                    :state="errors.length > 0 ? false:null"
                  >
                    <v-select
                      id="int_actividadEmpresa"
                      v-model="data.codigoPais"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="codigoPais"
                      :selectable="option => ! option.value == 0"
                      :reduce="option => option.value"
                      label="text"
                    />
                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!-- end -->

              <!-- Direccion Completa -->
              <b-col md="12">
                <b-form-group
                  label="Direccion Completa"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.direccionCompleta"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Correo Electronico -->
              <b-col md="6">
                <b-form-group
                  label="Correo Electronico"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.correoElectronico"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Codigo Larga Distancia -->
              <b-col md="6">
                <validation-provider
                  #default="{ errors }"
                  name="Country"
                  rules=""
                >
                  <b-form-group
                    label="Codigo Larga Distancia"
                    label-for="int_actividadEmpresa"
                    :state="errors.length > 0 ? false:null"
                  >
                    <v-select
                      id="int_actividadEmpresa"
                      v-model="data.codigoLargaDistancia01"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="codigoLargaDistancia01"
                      :selectable="option => ! option.value == 0"
                      :reduce="option => option.value"
                      label="text"
                    />
                    <b-form-invalid-feedback :state="errors.length > 0 ? false:null">
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>
              <!-- end -->

              <!-- Telefono -->
              <b-col md="6">
                <b-form-group
                  label="Telefono"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.telefono01"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Pagina Web -->
              <b-col md="6">
                <b-form-group
                  label="Pagina Web"
                  label-for="vch_alias"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="vch_alias"
                    rules=""
                  >

                    <b-form-input
                      id="vch_alias"
                      v-model="data.paginaWeb"
                      placeholder=""
                      :state="errors.length > 0 ? false:null"
                    />

                    <small class="text-danger">{{ errors[0] ? 'La Razon Social es obligatorio' : '' }}</small>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <!-- end -->

              <!-- Observacion -->
              <b-col md="12">
                <b-form-group
                  label="Observacion"
                  label-for="vch_nombres"
                >
                  <b-form-textarea
                    id="textarea-default"
                    v-model="data.observacion"
                    placeholder="Observacion"
                    rows="3"
                  />
                </b-form-group>
              </b-col>
              <!-- End -->
            </b-row>
          </b-tab>
        </b-tabs>
      </validation-observer>
    </tab-content>

    <!-- <tab-content
      title="Cuentas"
      :before-change="validationForm"
    >
      <validation-observer
        ref="accountRules"
        tag="form"
        locale="es"
      >
        <div>
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            class="mb-1"
            variant="primary"
            @click="repeateAgain"
          >
            <feather-icon
              icon="PlusIcon"
              class="mr-25"
            />
            <span>Agregar Nuevo</span>
          </b-button>
          <div>
            <b-form
              ref="form"
              :style="{height: trHeight}"
              class="repeater-form"
              @submit.prevent="repeateAgain"
            >

              <b-row
                v-for="(item, index) in items"
                :id="item.id"
                :key="item.id"
                ref="row"
              >
                <b-col md="4">
                  <b-form-group
                    label="Sectorista"
                    label-for="item-name"
                  >
                    <b-form-input
                      id="item-name"
                      v-model="item.descripcionSectorista"
                      type="text"
                      placeholder=""
                    />
                  </b-form-group>
                </b-col>

                <b-col md="2">
                  <b-form-group
                    label="Telefono 01"
                    label-for="cost"
                  >
                    <b-form-input
                      id="cost"
                      v-model="item.telefono01"
                      type="number"
                      placeholder="32"
                    />
                  </b-form-group>
                </b-col>

                <b-col md="2">
                  <b-form-group
                    label="Telefono 02"
                    label-for="quantity"
                  >
                    <b-form-input
                      id="quantity"
                      v-model="item.telefono02"
                      type="number"
                      placeholder="1"
                    />
                  </b-form-group>
                </b-col>

                <b-col
                  lg="2"
                  md="1"
                >
                  <b-form-group
                    label="Correo Electronico"
                    label-for="price"
                  >
                    <b-form-input
                      id="pzrice"
                      v-model="item.correoElectronico"
                      plaintext
                    />
                  </b-form-group>
                </b-col>

                <b-col
                  lg="2"
                  md="3"
                  class="mb-50"
                >
                  <b-button
                    v-ripple.400="'rgba(234, 84, 85, 0.15)'"
                    variant="outline-danger"
                    class="mt-0 mt-md-2"
                    @click="removeItem(index)"
                  >
                    <feather-icon
                      icon="XIcon"
                      class="mr-25"
                    />
                  </b-button>
                </b-col>
                <hr>
              </b-row>

            </b-form>
          </div>
        </div>
      </validation-observer>
    </tab-content> -->

  </form-wizard>

  <!-- </div> -->
</template>

<script>
import { FormWizard, TabContent } from 'vue-form-wizard'
import vSelect from 'vue-select'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BInputGroup,
  BInputGroupAppend,
  BFormDatepicker,
  BFormCheckbox,
  // BFormRadio,
  BFormTextarea,
  BFormInvalidFeedback,
  BForm,
  BButton,
  BTabs,
  BTab,
} from 'bootstrap-vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { ValidationProvider, ValidationObserver, localize } from 'vee-validate'
import { required, email } from '@validations'
import { codeIcon } from '@/views/forms/form-wizard/code'
import axios from '@axios'
import { heightTransition } from '@core/mixins/ui/transition'
import Ripple from 'vue-ripple-directive'
import { cbxGeneralDetalle } from '@/modules/Personas/helpers'
import { ref } from '@vue/composition-api'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    FormWizard,
    TabContent,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    BFormDatepicker,
    BFormCheckbox,
    BForm,
    // BFormRadio,
    BFormTextarea,
    BFormInvalidFeedback,
    BButton,
    BTabs,
    BTab,

    vSelect,
    // eslint-disable-next-line vue/no-unused-components
    ToastificationContent,
  },
  directives: {
    Ripple,
  },
  mixins: [heightTransition],
  data() {
    return {
      combo: [
        { value: '0', text: 'prueba' },
      ],
      data: {
        razonSocial: '',
        alias: '',
        codigoPaisEmisorDocumento: 0,
        codigoTipoDocumento: 0,
        numeroDocumento: '',
        apellidoPaterno: '',
        apellidoMaterno: '',
        nombres: '',
        situacion: 1,
        fechaInscripcionNacimiento: '',
        codigoActividadEmpresa: 0,
        codigoPais: 1,
        direccionCompleta: '',
        codigoTipoVia: 0,
        nombreVia: '',
        numeroVia: '',
        departamento: '',
        interior: '',
        manzana: '',
        lote: '',
        kilometro: '',
        block: '',
        etapa: '',
        codigoTipoZona: 1,
        nombreZona: '',
        referencia: '',
        codigoUbigeo: '',
        latitud: '',
        longitud: '',
        correoElectronico: '',
        codigoLargaDistancia01: 0,
        telefono01: '',
        codigoLargaDistancia02: 0,
        telefono02: '',
        paginaWeb: '',
        observacion: '',
        codigoUsuario: 1,
        inforRefBancaria: [],
        infoComercial: [],
        sucursal: [],
        cuentasBancaria: [],

      },
      formatted: '',
      selected: '',
      value: null,
      inputs: [
        {
          id: 1,
          title: 'Titulo desde BD',
          description: 'descripcion BD',
          campos: [
            {
              id: 1,
              type: 'text',
              col: '6',
              label: 'Label desde BD',
              idCampo: 'idCampoDeBD',
              placeholder: 'Placeholder desde BD',
            },
            {
              id: 1,
              type: 'select',
              col: '6',
              label: 'Label desde BD',
              idCampo: 'idCampoDeBD',
              placeholder: 'Placeholder desde BD',
              options: [
                { value: '0', text: 'seleccione' },
                { value: '1', text: 'Farmaceutica' },
                { value: '2', text: 'Industrial' },
                { value: '3', text: 'Electronica' },
              ],
            },
          ],
        },
      ],

      optionActividadEmpresa: [],
      paisEmisorDocumento: [],
      tipoDocumento: [],
      actividadEmpresa: [],
      codigoPais: [],
      codigoLargaDistancia01: [],

      name: '',
      emailValue: '',
      PasswordValue: '',
      passwordCon: '',
      first_name: '',
      last_name: '',
      address: '',
      landMark: '',
      pincode: '',
      twitterUrl: '',
      facebookUrl: '',
      googleUrl: '',
      linkedinUrl: '',
      city: '',
      required,
      email,
      codeIcon,

      items: [
        {
          id: 1,
          codigoEntidadFinanciera: 1,
          descripcionSectorista: 'Mi sectorista',
          telefono01: '987654321',
          telefono02: '987564231',
          correoElectronico: 'correo@correo.com',
        },
      ],
    }
  },
  mounted() {
    this.initTrHeight()
  },
  created() {
    this.onload()
    window.addEventListener('resize', this.initTrHeight)
    this.getCbx()
  },
  destroyed() {
    window.removeEventListener('resize', this.initTrHeight)
  },
  methods: {
    async formSubmitted() {
      console.log(this.data)
      // return
      try {
        const { data } = await axios({
          method: 'POST',
          url: 'https://apigateway.adcapricornio.com:4443/v1/lvlexport/clientes',
          data: this.data,
          headers: {
            Authorization: process.env.VUE_APP_TOKEN,
          },
        })
        this.$toast({
          component: ToastificationContent,
          props: {
            title: 'Proveedor Registrado Correctamente',
            icon: 'EditIcon',
            variant: 'success',
          },
        })
        this.$refs['modal-primary'].hide()
        return data
      } catch (error) {
        return error.response.data
      }
    },

    async getCbx() {
      this.paisEmisorDocumento = await cbxGeneralDetalle(1)
      this.tipoDocumento = await cbxGeneralDetalle(2)
      this.actividadEmpresa = await cbxGeneralDetalle(3)
      this.codigoPais = await cbxGeneralDetalle(1)
      this.codigoLargaDistancia01 = await cbxGeneralDetalle(7)
    },
    onContext(ctx) {
      // The date formatted in the locale, or the `label-no - date - selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    },
    onload() {
      localize('es')
    },
    validationForm() {
      return new Promise((resolve, reject) => {
        this.$refs.accountRules.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
        })
      })
    },
    validationFormInfo() {
      return new Promise((resolve, reject) => {
        this.$refs.infoRules.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
        })
      })
    },
    validationFormAddress() {
      return new Promise((resolve, reject) => {
        this.$refs.addressRules.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
        })
      })
    },
    validationFormSocial() {
      return new Promise((resolve, reject) => {
        this.$refs.socialRules.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
        })
      })
    },
    repeateAgain() {
      this.items.push({
        id: this.nextTodoId += this.nextTodoId,
      })

      this.$nextTick(() => {
        this.trAddHeight(this.$refs.row[0].offsetHeight)
      })
    },
    removeItem(index) {
      this.items.splice(index, 1)
      this.trTrimHeight(this.$refs.row[0].offsetHeight)
    },
    initTrHeight() {
      this.trSetHeight(null)
      this.$nextTick(() => {
        this.trSetHeight(this.$refs.form.scrollHeight)
      })
    },
  },
}
</script>
<style scoped>
.repeater-form {
  overflow: hidden;
  transition: .35s height;
}
</style>
